footer {
    width: -webkit-fill-available;
    background: linear-gradient(to bottom, rgba(97, 97, 97, 0.7), rgb(38, 38, 38));
    text-align: center;
    color: white;
}

footer>img {
    width: 200px;
    margin: 0;
}

footer>p {
    margin: 20px;
    padding-top: 0.7rem;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-icons img {
    padding: 20px;
}