 html,
 body {
   height: 100%;
   margin: 0;
   padding: 0;
 }

 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }

 /*Animacion*/
 @keyframes slide-in-home {
   from {
     transform: translateX(-100%);
   }

   to {
     transform: translateX(0%);
   }
 }

 .content-page-home {
   animation: slide-in-home 2s ease;
 }

 @keyframes slide-in-detail {
   from {
     transform: translateX(-600%);
   }

   to {
     transform: translateX(0%);
   }
 }

 .content-page-detail {
   animation: slide-in-detail 2s ease;
   color: #060C12;

 }

 .content-page-detail-d {
   animation: slide-in-detail 2s ease;
   color: whitesmoke;
 }

 @keyframes slide-in-contact {
   from {
     transform: translateX(-400%);
   }

   to {
     transform: translateX(0%);
   }
 }

 .content-page-contact {
   animation: slide-in-contact 2s ease;
 }

 .content-page-contact h2,
 p {
   margin-left: 20px;
 }

 @keyframes slide-in-favs {
   from {
     transform: translateX(-100%);
   }

   to {
     transform: translateX(0%);
   }
 }

 .content-page-favs {
   animation: slide-in-favs 2s ease;
 }